[Unit]
Description=Confluence
After=network.target

[Service]
Type=forking
User=confluence
PIDFile={{ confluence_install_directory }}/work/catalina.pid
ExecStart={{ confluence_install_directory }}/bin/start-confluence.sh
ExecStop={{ confluence_install_directory }}/bin/stop-confluence.sh
TimeoutSec=200
LimitNOFILE=4096
LimitNPROC=4096

[Install]
WantedBy=multi-user.target